/**
 * @name Tema Translúcido
 * @description É apenas um tema translúcido simples.
 * @author Arkyzee
 * @version ersão de testes
 */

	/* LEIA-ME!!!!!!
	
	O código abaixo muda as cores e opacidade do seu discord
	de acordo com o exemplo abaixo.
	-------------------------------------------------------------------
	
	(DE 0 À 255)

	|    R     |     G     |     B    |     A     |
	|(Vermelho)|   VERDE   |    AZUL  | OPACIDADE | IGUAL A: BRANCO;
	|	255    |    255    |    255   |    255    |

	-------------------------------------------------------------------
	*/
@import url(https://arkyzee.github.io/Tema_Translucido/definicoes.css);
	
:root{

	/*fonte */
	--fonte: "gg sans", "Noto Sans";
	
	/*Cores                      R    G    B    A */
	--cor_de_mencao: 			 0 , 190, 190, 1;
	--cor_positiva:              0 , 190, 190, 1;
	--cor_de_aviso:	 			255,  0 ,  0 , 1;
	--cor_perigosa: 			255,  0 ,  0 , 1;

	--texto_brilhante: 			255, 255, 255, 1;
	--texto_muito_claro:  		200, 200, 200, 1;
	--text_claro: 				180, 180, 180, 1;
	--texto_escuro:				150, 150, 150, 1;
	--texto_mais_escuro: 		140, 140, 140, 1;
	--tao_escuro_que_tu_nem_ve:	120, 120, 120, 1;

    /*Plano de fundo               R   G   B   A */

	--background-principal:		   0 , 0, 0, 0.1;
    --background_primario:         0 , 0, 0, 0.1;
    --background_secundario:       0 , 0, 0, 0.1;
    --background_secundario_alt:   0 , 0, 0, 0.1;
    --background_terciario:        0 , 40, 50, 0.6;
	--background_janela_flutante:  20, 20, 20, 0.5;